{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="wrapper" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        {% if process == "connect" %}
            <h1>
                {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
            </h1>
            <p>
                {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <h1>
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
            </h1>
            <p>
                <div style="text-align: center;">
                    {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
                </div>
            </p>
        {% endif %}
        <form method="post" class="form" style="margin-top: 20px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="padding: 10px 20px;">
                {% trans "Continue" %}
            </button>
        </form>
    </div>
{% endblock content %}