<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styleheropage.css">
  </head>
  

  <body>
    
    <header>
      <a href="#" class="logo"><img src="logo.png" alt=""></a>

      <div class="navigation">
        <a href="#">Locate</a>
        <a href="#">Book</a>
        <a href="#">Timetable</a>
        <a href="#">Medicine</a>
        <button class="btnsignup-popup">Signup</button>
        <button class="btnlogin-popup">Login</button>
      </div>

     
         <div class="image-container">
          <img src="heropageimage.png" alt="Elderly Couple" style="position: fixed; bottom: 0; left: 0; width: 700px; height: auto;">
      </div>
      

    </header>

    </body>
    </html>