{% load static %}
{% comment %} {% load messages %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sunny Lemons</title>
    <link rel="stylesheet" href="{% static 'css_files/finaltimetable.css' %}">
</head>
<body>

<header>
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="/media/homepagemedia/logo.png" alt="SUNNY LEMONS">
        </a>
    </div>
    <div class="navigation">
        <a href="#">Locate</a>
        <a href="{% url 'doctor_search' %}">Book</a>
        <a href="{% url 'timetable' %}">Timetable</a>
        <a href="#">Medicine</a>
        
        {% if user.is_authenticated %}
        <button class="btnsignup-popup">Profile</button>
        {% else %}
        <button class="btnsignup-popup">Signup</button>
        {% endif %}
    </div>
</header>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>
