<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sunny Lemons</title>
    <link rel="stylesheet" href="booking.css">
</head>
<body>

<header>
    <div class="logo"><img src="logo.png" alt="SUNNY LEMONS"></div>
    <div class="navigation">
      <a href="#">Locate</a>
      <a href="#">Book</a>
      <a href="#">Timetable</a>
      <a href="#">Medicine</a>
      <button class="btnsignup-popup">Signup</button>
    </div>
</header>


  
  <div class="container">
       <div class="h5">
        <p class="para">Find the Right Doctor for You!</p>
        <p class="h7">Accessible, Affordable, and Convenient Medical Care!</p>
      </div>
    
    <div class="item" id="medicine-box">    
      <table>
        <tr>
          <th> <ion-icon name="location" src="location.svg"></ion-icon><input class="input" type="text" name="location" placeholder="location" required /></th>
          <th><input class="input" type="text" name="specialisation" placeholder="specialisation" required /></th>
          <th class="search-button"><button class="search">Search</button></th>
        </tr>
        
      </table>
    </div>

    <p class="h6"> Here’s a List of Trusted Doctors Matching Your Preferencesur</p> 
     
    <div class="item" id="calander-box">
      <div class="doctor">
        <div class="profile">
          <img class="img" src="cat.png" alt="Profile Picture">
        </div>
        
        <div class="details">
          <p class="info" id="info1"> Dr. Beluga Singh</p>
        <p class="info" id="info2"> Dentist (3 years experience) </p>
        <p class="info" id="info3"> Vaishali Nagar, Jaipur</p>
        <p class="info" id="info4"> Rizzler Clinic</p>
       <div class="lastbox"><p class="info" id="info5"> $10 per consultation <button class="book">Book my Appointment</button></p> </div> 
       
        </div> 

      </div>

        <div class="doctor">
          <div class="profile">
            <img class="img" src="doggo.png" alt="Profile Picture">
          </div>
          
          <div class="details">
            <p class="info" id="info1"> Dr. Doggo Singh</p>
          <p class="info" id="info2"> Dentist (11 years experience) </p>
          <p class="info" id="info3"> Mansarovar, Jaipur</p>
          <p class="info" id="info4"> Lord Rizzler Clinic</p>
          <div class="lastbox"><p class="info" id="info5"> $10 per consultation <button class="book">Book my Appointment</button></p> </div> 
       
        </div> 

      
        </div>


        <div class="doctor">
          <div class="profile">
            <img class="img" src="kanye.png" alt="Profile Picture">
          </div>
          
          <div class="details">
            <p class="info" id="info1"> Dr. Kanye Singh</p>
          <p class="info" id="info2"> Dentist (30min experience) </p>
          <p class="info" id="info3"> Jagat Pura, Jaipur</p>
          <p class="info" id="info4"> Swiftie Clinic</p>
          <div class="lastbox"><p class="info" id="info5"> $10 per consultation <button class="book">Book my Appointment</button></p> </div> 
       
        </div> 
          </div>
      
        </div>
      
    </div>
     
     
  </div>



</body>
</html>