{%load static%}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  
  <body>

    <header>
      <h2 class="SunnyLemons">SunnyLemons</h2>
      <nav class="navigation">
        <a href="#">Locate</a>
        <a href="#">Book</a>
        <a href="#">Timetable</a>
        <a href="#">Medicine</a>
        
        <button class="btnlogin-popup">Login</button>
      </nav>
    </header>

    <div class="wrapper">
      <span class="icon-close"><a href="#" class="cross-home"><ion-icon name="close"></ion-icon></a></span>
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <spam class="icon"><ion-icon name="mail"></ion-icon></spam>
            <input required type="email required">
            <label >Email</label>
          </div>
          <div class="input-box">
            <spam class="icon"><ion-icon name="lock-closed"></ion-icon></spam>
            <input required type="password required">
            <label >password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">
            remember me</label>
            <a href="#" class="forgot-link">Forgot Password?</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="or">
            <p>or</p>
          </div>
          <div class="google"> <a href="#" class="google-link"> Continue with Google</a></div>
          <div class="login-register">
            <p>Don't have an account? <a href="#" class="register-link">Signup</a></p>
          </div>
        </form>
      </div>

      <div class="form-box register">
        <h2>Signup</h2>
        <form action="#">
          <div class="input-box">
            <spam class="icon"><ion-icon name="mail"></ion-icon></spam>
            <input required type="email required">
            <label >Email</label>
          </div>
          <div class="input-box">
            <spam class="icon"><ion-icon name="lock-closed"></ion-icon></spam>
            <input required type="password required">
            <label >password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">
            remember me</label>
         
          </div>
          <button type="submit" class="btn">Signup</button>
          <div class="or">
            <p>or</p>
          </div>
          <div class="google"> <a href="#" class="google-link"> Continue with Google</a></div>
          <div class="login-register">
            <p>Already have an Account?<a href="#" class="login-link">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  
    <script src = {%static 'scripts/script.js'%}></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>

  </html>