<html>
<head>
    <title>Medicine Timetable</title>
</head>
<body>
  <h1>Medicine Timetable</h1>
  <form action={% url 'timetable'%} method="post">
    {% csrf_token %}
    <input type="text" name="medicine_name" placeholder="Medicine Name" required />
    <input type="text" name="medicine_dosage" placeholder="Dosage" required />
   

    {% comment %} <input type"text" name="medicine_days" placeholder="Days" required /> {% endcomment %}
    {% comment %} <div id="days">
      <input type="checkbox" name="medicine_days" value="Monday" />Monday
      <input type="checkbox" name="medicine_days" value="Tuesday" />Tuesday
      <input type="checkbox" name="medicine_days" value="Wednesday" />Wednesday
      <input type="checkbox" name="medicine_days" value="Thursday" />Thursday
      <input type="checkbox" name="medicine_days" value="Friday" />Friday
      <input type="checkbox" name="medicine_days" value="Saturday" />Saturday
      <input type="checkbox" name="medicine_days" value="Sunday" />Sunday
    </div> {% endcomment %}
  <label for="medicine_days_select">Select Days:</label>
  <select id="medicine_days_select" name="medicine_days" multiple>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>
    <input type="text" name="medicine_gap" placeholder="Gap in hours before the next dose " required />
    <input type="time" name="medicine_time" placeholder="Time" required />
    <input type="date" name="medicine_start_date" placeholder="StartDate" required />
    <input type="date" name="medicine_end_date" placeholder="EndDate" required />
    <input type="text" name="medicine_notes" placeholder="Notes"  />
    {% comment %} <input type="text" name="medicine_tags" placeholder="Tags" /> {% endcomment %}
    <button type="submit" name="add_medicine">Add</button>
  </form>
</body>
</html>