<!DOCTYPE html>
<html>
  <head>
    <title> Sign-up page</title>
    
  </head>
  <body>
    <div class="login-container container">
      <div class="contact-box2">
        <div class="right"></div>
        <div class="center">
          <h2>login</h2>
          <form action="/users/login/", method="POST">
          {% csrf_token %}
          <input type="email" class="field" placeholder="Email ID">
          <input type="password" class="field" placeholder="password"> 
        </div>
        <button ac>SUBMIT</button>
      </form>
      </div>
    </div>
    <div class="signup-container container">
      
      <div class="contact-box">
        <div class="left"></div>
        <div class="right">
          <h2>Sign-up page</h2>
          <input type="text" class="field" placeholder="Name">
          <input type="email" class="field" placeholder="Email ID">
          <input type="password" class="field" placeholder="password"> 
          <input type="password" class="field" placeholder="confirm password"> 

        </div>
      </div>
      <button>SUBMIT</button>
    </div>
    
  </body>
</html>