<!DOCTYPE html>
<html>
  <head>
    <title> Sign-up page</title>
    
  </head>
  <body>
    <div class="container">
      
      <div class="contact-box">
        <div class="left"></div>
        <div class="right">
          <h2>Sign-up page</h2>
          <input type="text" class="field" placeholder="Name">
          <input type="email" class="field" placeholder="Email ID">
          <input type="password" class="field" placeholder="password"> 
          <input type="password" class="field" placeholder="confirm password"> 

        </div>
      </div>
    </div>
    <button>SUBMIT</button>
    <div class="container2">
      <div class="contact-box2">
        <div class="right"></div>
        <div class="center">
          <h2>login</h2>
          <input type="email" class="field" placeholder="Email ID">
          <input type="password" class="field" placeholder="password"> 

        </div>
      </div>
    </div>
    <button>SUBMIT</button>
  </body>
</html>